on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

# Set default permissions as read only.
permissions: read-all

name: Go
jobs:

  go-test:
    strategy:
      matrix:
        go-version: [1.18.x, 1.24.x, 1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test with -race
      run: go test -race -count=5 ./...
    - name: Integrationtest
      run: go test -v -tags=integration ./...


  code-check:
    strategy:
      matrix:
        go-version: [1.25.x]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: staticcheck.io
      uses: dominikh/staticcheck-action@v1.3.1
      with:
        version: "2025.1"
        install-go: false
        cache-key: ${{ matrix.go-version }}
